# Ignore build output
/target/

# Do not ignore Maven wrapper files
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!mvnw
!mvnw.cmd

# STS IDE files
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA files
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# NetBeans files
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code files
### VS Code ###
.vscode/
